.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0px 0px 0px;
    /* border: 1px solid blue; */
}

.contact-header {
    display: flex;
    justify-content: center;
    width: 100%;
    /* border: 1px solid green; */
}

/* .contact-info-container {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 25px 0px 0px 0px;
    border: 1px solid yellow;
} */

.contact-info-container {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    color: #757575;
    margin: 25px 0px 0px 0px;
    /* border: 3px solid purple; */
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: white;
    flex: 1 0 0%;
    /* border: 1px solid red; */
    background-color: #616161;
}

.phone {
    background-color: #009688;
}

.contact-icons {
    margin: 0px 10px 0px 0px;
}

#googleMap {
    margin: 25px 0px 0px;
    /* border: 1px solid green; */
    width: 70%;
    height: 250px;
    color: #757575;
}


@media(max-width: 1500px)
{
    .contact-container {
        margin: 25px 20px 0px 20px;
    }
}

@media(max-width: 1228px)
{
    .contact-info-container {
    
    }

    .location {
    }

    .phone {
        background-color: #616161;
    }

    .email {

    
    }

    .contact-info {
        margin: 3px 3px;
        flex: 1 0 44%;
    }


   
}

@media(max-width: 768px)
{
    .contact-info-container {
        width: 90%;
    }
    
    #googleMap {
      width: 90%;
    }
}

@media(max-width: 480px) 
{
    .contact-info {
        flex: 1 0 100%;
    }

    .phone {
        background-color: #009688;
    }
}