/* navigation bar */
.intro-container {
  max-width: 1500px;
  margin: 35px auto 0px auto;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.intro-introduction {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: hsla(320, 2%, 35%, 0.8);
  letter-spacing: 8px;
  padding: 10px;
}

.intro-image {
  max-width: 100%;
  max-height: 800px;
  vertical-align: bottom;
}
