nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0px 1px 1px;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 0px 16px;
    margin: 0px 30px;
    color: black;
    letter-spacing: 0.1em;
    font-family: 'Teko', sans-serif;
}

.nav-links {
    display: flex;
    justify-content: flex-end; 
}

.nav-links a {
    text-decoration: none;
    padding: 0px 16px;
    margin: 0px 30px;
    color: black;
    letter-spacing: 0.1em;
    font-size: 1.125em;
    
}

/* .highlight {
    transition: all 0.2s;
    border-bottom: 2px solid white;
    position: absolute;
    top: 0;
    background-color: rgba(191, 196, 197, .7);
    left: 0%;
    z-index: ;
    border-radius: 2px;
    display: block;
  } */

.nav-links a:hover {
    background-color: rgba(191, 196, 197, 0.699);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.8s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


.toggleNav {
    display: none;
}


@media(max-width: 768px)
{
  .toggleNav {
    display: flex;
    color: rgb(241, 247, 255);
    text-decoration: none;
    font-size: 1.125em;
    padding-right: 20px;
    color: black;
    letter-spacing: 0.1em;
    
  }

  .nav-links {
      display: none;
  }

}

@media(max-width: 480px)
{
    .logo {
        margin: 0;
    }

}