
/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*body*/
body, html{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden; 

}

/* navigation bar */
header {

    background-image:url(../img/mountains.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;

}

#nav-wrapper {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 1rem 0;

}

#logo-wrapper {
    flex: auto;
    color: rgb(241, 247, 255);

}

#logo-wrapper > h1 {
 text-align: center;
}

#link-wrapper {
    flex: auto;
}

#item-wrapper {

   display: flex;
   align-items: center;
   justify-content: space-around;
   list-style: none;
   font-size: 1.2em;
}

li {

    text-align: center;
}

li a:hover {
    color: rgb(241, 247, 255);
}

li a {
    color: rgb(241, 247, 255);
    text-decoration: none;
}

#item-wrapper li a:hover {
    color: rgb(81, 83, 85);
}

#intro-wrapper {
    color: rgb(241, 247, 255);
    position: relative;
    top: 40%;
    transform: perspective(1px) translateY(-50%);
}

#intro-wrapper > h1 {
    font-size: 3em;
    text-align: center;
}


@media(max-width: 1024px)
{

    #intro-wrapper {
        top: 28%;
    }
}



@media(max-width: 640px)
{
    #logo-wrapper {

        flex: 0 0 100%;
        margin-bottom: 20px;

    }
    #nav-wrapper {
        
        flex: 0 0 100%;
    }
}




/*0Work section*/ 
.work-section {

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* justify-content: space-between;
    height: 100vh; */
    background-color: rgb(221, 227, 233);
    color: rgba(255, 255, 255, 0.959);
    font-size: 1.2em;


}

.work-container {
    display: flex;
    width: 75%;
    border-radius: 7px 0px 0px 7px;
    height: 250px;
    overflow: hidden;
}

.work-content {
     /* border: 3px solid blue; */
     display: flex;
     align-items: center;
     text-align: center;
     flex: 1;
}

.job-title {
    /* border: 2px solid green; */
    flex: 1;
}

.job-description {
    flex: 2;
    padding: 30px;
    /* border: 2px solid purple; */
    border-left: 2px solid rgb(221, 227, 233);
}






 @media(max-width: 768px)
{
    .work-section {
        align-items: center;
    }

    .work-container {
        margin: 10px;
        border-radius: 7px;
    }
    

    .work-content {
    flex-direction: column;
    height:250px;

    }

    .job-title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: underline;
        
    }

    .job-description {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        text-align: center;
        padding: 0;
        border-left: none;
  
    } 

}


@media (max-width: 550px)
{

    .work-content {
        height: 300px;
    }

    .job-title {
        flex: 1;
    }

    .job-description {
        flex: 4;
    }


}

@media (max-width: 400px)
{
   .work-content {
       height: 350px;
   }

}

  




